html{
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;


  background: -webkit-linear-gradient(-2deg, rgb(187, 189, 190), rgb(194, 224, 255));
  background: linear-gradient(-2deg, rgb(187, 189, 190), rgb(194, 224, 255));





}

.goku{

}
.arrow{
  height: 10%;
  width : 10%;

}
